[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_bin

default-time-zone = SYSTEM
log_timestamps = SYSTEM

# デフォルト認証プラグインの設定
default-authentication-plugin = mysql_native_password

### レプリケーション設定
#   状況に合わせて以下の設定のコメントアウトを外す
##  Source setiings
# server-id=101
# log-bin=/var/log/mysql/bin_log/repl-bin
# binlog_expire_logs_seconds=604800

##  Replica settings
# server-id=102
# read_only


## ログ周り
log-error = /var/log/mysql/mysql-error.log

slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
